@using Sitecore.Data;
@using Sitecore.Data.Items;
@using Sitecore.Mvc;
@using Sitecore.Mvc.Presentation;
@using Sitecore.Data.Fields;

@model Uniform.Models.GenericPropsModel

@if (Sitecore.Context.PageMode.IsExperienceEditor || Sitecore.Context.PageMode.IsExperienceEditorEditing)
{

    <ul>
        @foreach (Sitecore.Data.Fields.Field field in Model.Fields)
        {
            <li>
                <b>FieldName:</b>  @field.DisplayName
                <b>FieldType:</b> @field.Type 
                <br/>
                <b>Value:</b> @Html.Sitecore().Field(field.Name, Model.ContextItem)
            </li> 
        }

        @if(Model.Placeholders.Count>0)
        {
            foreach( var placeholder in Model.Placeholders)
            {
                <li>
                    @Html.Sitecore().Placeholder(placeholder)
                </li>
            }

        }


        
    </ul>

}
else
{
    <javascript-rendering uid='@Model.Rendering.UniqueId' rid='@Model.Rendering.Id' path='@Model.RenderingItem.Paths.FullPath' />
}
